.main-screen {
    display: grid;
    grid-template: 
        "table selector" 1fr
        "table date-selector" 1fr
        "table map" 5fr
        "table news" 5fr /1fr 1fr;
}

.region-select {
    grid-area: selector;
}

.date-range-select {
    grid-area: date-selector
}

.news {
    grid-area: news;
}

.world-map {
    grid-area: map;
    height: 100%;
}

.table {
    grid-area: table;
}
