.main-screen {
    display: grid;
    grid-template: 
        "selector table" auto
        "map news" 1fr /1fr 1fr;
}

.region-select {
    grid-area: selector;
}

.news {
    grid-area: news;
}

.world-map {
    grid-area: map;
}

.table {
    grid-area: table;
}

