.map-container {
  position: relative;
  height: 100%;
  min-height: 200px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

$infected-colour: red;
$dead-colour: black;
$recovered-colour: green;

::ng-deep {
  .infected-circle {
    stroke: $infected-colour;
    fill: $infected-colour;
  }
  .recovered-circle {
    stroke: $recovered-colour;
    fill: $recovered-colour;
  }

  .dead-circle {
    stroke: $dead-colour;
    fill: $dead-colour;
  }

  .tooltip-infected {
    color: $infected-colour;
  }

  .tooltip-dead {
    color: $dead-colour;
  }

  .tooltip-recovered {
    color: $recovered-colour;
  }
}
