/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
